<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
    <title>Space.com WebScraper
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/style.css">

</head>

<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo center">Space.com Web Scraper</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/scrape-route" id="scrape-articles-button">Scrape New Articles</a></li>
                    <li><a href="/" class="header-btn">Saved Articles</a></li>
                    <li class="header-btn"><a href="/scrape">Scraped Articles</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <br>


    {{{body}}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="app.js"></script>
</body>
</body>

</html>