body {
  background-image: url("../images/galaxy-1540039594700-607.jpg");
  background-color: black;
}

nav {
  background-color: #14509b !important;
}

#nav-spacer {
  width: 50px;
  color: red;
}

h1 {
  text-align: center;
  color: white;
}

h2 {
  font-size: 2em;
  font-weight: bold;
  margin: 0;
}

.each-article {
  margin: 0 auto;
  padding: 10px;
  background-color: whitesmoke;
  width: 85%;
  opacity: 0.9;
}

.article-link {
  font-size: 15px;
}

.article-link:hover {
  color: red;
}

.save-article-btn:hover {
  background-color: red;
}

.save-article-btn {
  margin: 0 10px 0 15px;
  /* float: right; */
  color: white;
  background-color: rgb(12, 116, 214);
  font-size: 15px;
  border-radius: 5px;
}

.article-separator {
  height: 10px;
}

/* original css below here */
#notes {
  float: right;
  width: 30%;
}
textarea,
input {
  display: block;
  width: 100%;
  background-color: #fcf5c7;
}
input {
  height: 36px;
  font-size: 24px;
}
textarea {
  height: 200px;
  font-size: 18px;
}
