body {
  background-image: url("../images/galaxy-1540039594700-607.jpg");
  background-color: black;
}

nav {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 140, 255, 1) 100%
  );
}

.sidenav-trigger {
  float: none;
}

a.brand-logo {
  padding: 0 0 0 70px;
  font-family: "Squada One", cursive;
  font-size: 40px;
}

h1 {
  text-align: center;
  color: white;
  margin: 0 0 15px 0;
  font-family: "Squada One", cursive;
  font-size: 45px;
}

.modal {
  width: 200px;
  height: 200px;
  background-color: darkgoldenrod;
  z-index: 9999;
}

p.scraped-title {
  visibility: none;
  margin: 0;
}

p.scraped-summary {
  margin: 5px;
}

a.article-link {
  margin: 0 15px 15px 0;
}

h2 {
  font-size: 2em;
  font-weight: bold;
  margin: 0;
}

.each-article {
  margin: 0 auto;
  padding: 10px;
  background-color: whitesmoke;
  width: 85%;
  opacity: 0.9;
  z-index: 1;
}

.article-link {
  font-size: 15px;
}

.article-link:hover {
  color: rgb(206, 19, 19);
}

.header-btn:hover,
#scrape-articles-button:hover {
  background-color: rgb(21, 21, 124);
}

.save-article-btn,
#savenote,
#cancelnote {
  margin: 0 10px 0 15px;
  color: white;
  background-color: rgb(13, 103, 187);
  font-size: 15px;
  border-radius: 5px;
  margin: 10px 0 0 10px;
}

.save-article-btn:hover,
.add-note-btn:hover,
#savenote:hover {
  background-color: rgb(9, 122, 24);
}

.delete-article-btn,
#deletenote {
  margin: 0 10px 0 15px;
  /* float: right; */
  color: white;
  background-color: rgb(247, 56, 8);
  font-size: 15px;
  border-radius: 5px;
  margin: 10px 0 0 10px;
}

.delete-article-btn:hover,
#deletenote:hover {
  background-color: rgb(170, 14, 14);
}

.add-note-btn {
  margin: 0 10px 0 15px;
  color: white;
  background-color: rgb(13, 103, 187);
  font-size: 15px;
  border-radius: 5px;
  margin: 10px 0 0 10px;
}

.article-separator {
  height: 8px;
}

#deletenote,
#cancelnote,
#savenote {
  margin: 10px;
  height: 35px;
}

#notes {
  z-index: 9999;
  float: right;
  width: 30%;
  background-color: #fcf5c7;
  margin: 10px 25px 0 50px;
  position: absolute;
  -webkit-box-shadow: 10px 22px 31px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 22px 31px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 22px 31px 1px rgba(0, 0, 0, 0.75);
  /* padding: 10px; */
}

#closebutton {
  float: right;
  display: inline-block;
}

#closebutton:active {
  background-color: rgb(226, 217, 217);
}

.note-title {
  font-size: 1em;
  background-color: #fcf5c7;
  padding: 4px 0 4px 4px;
}

textarea,
input {
  display: block;
  width: 100%;
  background-color: #fcf5c7;
  padding: 4px 0 0 4px;
}
input {
  height: 36px;
  font-size: 24px;
}
textarea {
  height: 200px;
  font-size: 18px;
}

@media only screen and (max-width: 860px) {
  .brand-logo {
    font-size: 30px;
    width: 70%;
  }

  #notes {
    width: 75%;
  }

  a.brand-logo {
    font-size: 35px;
    width: 100%;
    text-align: center;
  }

  h1 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 425px) {
  a.brand-logo {
    font-size: 25px;
    text-align: justify;
    padding: 0 0 0 75px;
  }

  h1 {
    font-size: 25px;
  }
}
