body {
  background-image: url("../images/galaxy-1540039594700-607.jpg");
  background-color: black;
}

nav {
  background-color: #14509b !important;
  padding: 0 15px;
}

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  /* margin: 0 0 50px 0; */
}

.sidenav-trigger {
  float: none;
}

title {
  text-align: left;
}

h1 {
  text-align: center;
  color: white;
}

h2 {
  font-size: 2em;
  font-weight: bold;
  margin: 0;
}

.each-article {
  margin: 0 auto;
  padding: 10px;
  background-color: whitesmoke;
  width: 85%;
  opacity: 0.9;
}

.article-link {
  font-size: 15px;
}

.article-link:hover {
  color: rgb(206, 19, 19);
}

#scrape-articles-button {
  background-color: darkred;
}

#scrape-articles-button:hover {
  background-color: rgb(231, 16, 16);
}

.header-btn:hover {
  background-color: rgb(21, 21, 124);
}

.header-btn:active {
  background-color: rgb(166, 166, 209);
}

.save-article-btn:hover {
  background-color: red;
}

.save-article-btn {
  margin: 0 10px 0 15px;
  /* float: right; */
  color: white;
  background-color: rgb(12, 116, 214);
  font-size: 15px;
  border-radius: 5px;
}

.article-separator {
  height: 10px;
}

@media only screen and (max-width: 600px) {
  .brand-logo {
    color: red;
    font-size: 19px;
    width: 50%;
  }
}

/* original css below here */
#notes {
  float: right;
  width: 30%;
}
textarea,
input {
  display: block;
  width: 100%;
  background-color: #fcf5c7;
}
input {
  height: 36px;
  font-size: 24px;
}
textarea {
  height: 200px;
  font-size: 18px;
}
